body 

{
	background-image: url("tmon_italian_food_pizza_shutterstock_562149826-1544196647-7384.jpeg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
}

h1 

{
	color: black;
}

h2 

{
	color: black;
}

h3 

{
	color: black;
}

h4

{
	color: black;
}



