body 

{
	background-image: url("monte.jpg");
	background-size: contain;
	Background-color: black;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: left;
	font-family: 'Trebuchet MS', sans-serif;
}


 




h1 

{
	color: black;
	 font-family: 'Trebuchet MS', sans-serif;
}

h2 

{
	color: black;
	font-family: 'Trebuchet MS', sans-serif;
}

p1

{
	color: black;
	font-family: 'Trebuchet MS', sans-serif;
}

p2

{
	color: black;
	font-family: 'Trebuchet MS', sans-serif;
}

p3

{
	color: black;
	font-family: 'Trebuchet MS', sans-serif;
}

p4

{
	color: black;
	font-family: 'Trebuchet MS', sans-serif;
}


h3 

{
	color: black;
	font-family: Arial, Helvetica, sans-serif;
}

h4

{
	color: black;
	font-family: Arial, Helvetica, sans-serif;
}

table 

{
	color: black;
	font-family: Arial, Helvetica, sans-serif;

